# Frontend
VITE_API_BASE_URL="http://localhost:5000"

# Backend
NODE_ENV="development"
PORT="5000"
CLIENT_ORIGIN="http://localhost:8080"
MONGODB_URI="mongodb://127.0.0.1:27017/ronica-tender-buddy"
JWT_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
JWT_EXPIRES_IN="7d"
UPLOAD_DIR="uploads"
MAX_UPLOAD_MB="20"
